<app-header></app-header>
<app-topnav></app-topnav>
<div class="wrapper__padding">
    <p>this app is just a boiler plate any thing can be replaced from style to components</p>
    <h1>typography:</h1>
    <div class="wrapper__row">
        <h1>h1</h1>
        <h2>h2</h2>
        <h3>h3</h3>
        <h4>h4</h4>
        <h5>h5</h5>
        <h6>h6</h6>
    </div>

    <div>
        <h1>buttons</h1>
        <div>there really are only 2 buttons</div>
        <button>
            the one without a class</button><button type="reset" class="button"> and the button with the class button-primary
        </button>
    </div>

    <div>
        <h1>random</h1>
        <div>now you might not use this one alot but it could be usefull: the
            <code> 
            'code'tag has also been styled so that it looks like githubs code sections
            </code>
        </div>
    </div>
    <div>
        <h1>forms</h1>
        <div>forms have recieved some styling as well
            <form class="form">
                <div class="form__group">
                    <label for="" class="form__group--label">
                        labels are fat
                    </label>
                    <input type="text" class="form__group--input-text" placeholder="i am a input">
                </div>
                <div class="form__group"><label class="form__group--label">and i am a label</label>
                    <textarea name="area 1" class="form__group--input-text-large" id="" cols="30" rows="10"> this text area is styled as well </textarea>
                </div>
            </form>
        </div>
    </div>
    
    -->
    <div>
        <h1>lists</h1>
        <ul>
            <li>unordered</li>
            <ul>
                <li>unordered</li>
                <ol>
                    <li>ordered</li>
                </ol>
            </ul>
        </ul>
        <ol>
            <li>ordered</li>
            <ol>
                <li>ordered</li>
                <ul>
                    <li>unordered</li>
                </ul>
            </ol>
        </ol>
        <h1>media queries:</h1>

    </div>

</div>