.topnav {
  display: grid;
  grid-gap: 10px;
  width: auto;
  text-align: right;
}

@include biggerthen('mobile') {
  // only uses these classes on mobile
  .topnav {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    text-align: right;
  }
}

.topnav__item {
  border-bottom: 1px solid black;
}
